<div class="container">
  <div class="row">
    <main role="main" class="col-12">
      <div class="card mt-3">
        <div class="card-header">Vehículos</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Clase</th>
                <th scope="col">Longitud</th>
                <th scope="col">Piloto</th>
                <th scope="col">Película</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let vehicle of vehicles">
                <th scope="row"><p><small>{{ vehicle.id }}</small></p></th>
                <td>{{ vehicle.name }}</td>
                <td><p><small>{{ vehicle.description }}</small></p></td>
                <td>{{ vehicle.vehicle_class }}</td>
                <td>{{ vehicle.length }}</td>
                <td>{{ vehicle.pilots }}</td>
                <td>{{ vehicle.films}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<router-outlet></router-outlet>