<div class="container">
  <div class="row">
    <main role="main" class="col-12">
      <div class="card mt-3">
        <div class="card-header">Lugares</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Clima</th>
                <th scope="col">Terreno</th>
                <th scope="col">Superficie del agua</th>
                <th scope="col">Películas</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let location of locations">
                <th scope="row"><p><small>{{ location.id }}</small></p></th>
                <td>{{ location.name }}</td>
                <td>{{ location.climate }}</td>
                <td>{{ location.terrain }}</td>
                <td>{{ location.surface_water }}</td>
                <td>
                  <ng-template #popContent>
                    <p *ngFor="let film of location.films">{{ film.title }}</p>
                  </ng-template>
                  <ng-template #popTitle class="btn-outline-primary">Películas</ng-template>
                  <button type="button" class="btn btn-outline-primary" [ngbPopover]="popContent" [popoverTitle]="popTitle">
                    Ver Películas
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<router-outlet></router-outlet>