<header class="navbar navbar-expand-lg navbar-light navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/films" routerLinkActive="active">Películas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/people" routerLinkActive="active">Personas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/locations" routerLinkActive="active">Lugares</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/species" routerLinkActive="active">Espécies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/vehicles" routerLinkActive="active">Vehículos</a>
      </li>
    </ul>
  </div>
</header>
<router-outlet></router-outlet>