<div class="container">
  <div class="row">
    <main role="main" class="col-12">
      <div class="card mt-3">
        <div class="card-header">Películas</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="thead-ligth">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Descripción</th>
                <th scope="col">Director</th>
                <th scope="col">Producto</th>
                <th scope="col">Año</th>
                <th scope="col">Puntaje</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let film of films">
                <th scope="row"><p><small>{{ film.id }}</small></p></th>
                <td>{{ film.title }}</td>
                <td><p class="text-justify"><small>{{ film.description }}</small></p></td>
                <td>{{ film.director }}</td>
                <td>{{ film.producer }}</td>
                <td>{{ film.release_date }}</td>
                <td>{{ film.rt_score }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>