<div class="container">
  <div class="row">
    <main role="main" class="col-12">
      <div class="card mt-3">
        <div class="card-header">Personas</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Género</th>
                <th scope="col">Edad</th>
                <th scope="col">Ojos</th>
                <th scope="col">Cabello</th>
                <th scope="col">Películas</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of people">
                <th scope="row"><p><small>{{ item.id }}</small></p></th>
                <td>{{ item.name }}</td>
                <td>{{ item.gender }}</td>
                <td>{{ item.age }}</td>
                <td>{{ item.eye_color }}</td>
                <td>{{ item.hair_color }}</td>
                <td>
                  <ng-template #popContent>
                    <p *ngFor="let film of item.films">{{ film.title }}</p>
                  </ng-template>
                  <ng-template #popTitle class="btn-outline-primary">Películas</ng-template>
                  <button type="button" class="btn btn-outline-primary" [ngbPopover]="popContent" [popoverTitle]="popTitle">
                    Ver Películas
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<router-outlet></router-outlet>