<div class="container">
  <div class="row">
    <main role="main" class="col-12">
      <div class="card mt-3">
        <div class="card-header">Espécies</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Clasificación</th>
                <th scope="col">Ojos</th>
                <th scope="col">Cabello</th>
                <th scope="col" width="20%">Personas</th>
                <th scope="col">Películas</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let specie of species">
                <th scope="row"><p><small>{{ specie.id }}</small></p></th>
                <td>{{ specie.name }}</td>
                <td>{{ specie.classification }}</td>
                <td>{{ specie.eye_colors }}</td>
                <td>{{ specie.hair_colors }}</td>
                <td>
                  <ng-template #popContentPeople>
                    <div class="pre-scrollable">
                      <p *ngFor="let item of specie.people"><small>{{ item.name }}</small></p>
                    </div>
                  </ng-template>
                  <ng-template #popTitlePeople class="btn-outline-primary">Personas</ng-template>
                  <button type="button" class="btn btn-outline-primary" [ngbPopover]="popContentPeople" [popoverTitle]="popTitlePeople">
                    Ver Personas
                  </button>
                </td>
                <td>
                  <ng-template #popContentFilms>
                    <div class="pre-scrollable">
                      <p *ngFor="let film of specie.films"><small>{{ film.title }}</small></p>
                    </div>
                  </ng-template>
                  <ng-template #popTitleFilms class="btn-outline-primary">Películas</ng-template>
                  <button type="button" class="btn btn-outline-primary" [ngbPopover]="popContentFilms" [popoverTitle]="popTitleFilms">
                    Ver Películas
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<router-outlet></router-outlet>