<div class="container mt-3">
  <div class="row">
    <main role="main" class="col-12">
      <div class="card">
        <div class="card-header">Inicio</div>
        <div class="card-body">
          <h5 class="card-title">¡Bienvenido!</h5>
          <p class="card-text">Ir al menú para encontrar toda la información relacionada con cada menú,
            o dar click en los siguientes enlaces:
          </p>
          <a class="btn btn-primary" routerLink="/films">Películas</a>
          <a class="btn btn-primary ml-2" routerLink="/people">Personas</a>
          <a class="btn btn-primary ml-2" routerLink="/locations">Lugares</a>
          <a class="btn btn-primary ml-2" routerLink="/species">Espécies</a>
          <a class="btn btn-primary ml-2" routerLink="/vehicles">Vehículos</a>
        </div>
      </div>
    </main>
  </div>
</div>